# ========== Exclude everything ======================= #
*

# ========== Include source files ===================== #
# Only allow cpp style suffixes
!*.hpp
!*.cpp
!*.ino

# ========== Include python scripts =================== #
!*.py

# ========== Include documentation ==================== #
# Only allow "readme" files in markdown format
!*/README.md
!README.md

# ========== Explicitly handle special files ========== #
# Include template for config file
!template-config.h
# Include the .gitignore file itself
!.gitignore
